* {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    
}

h {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}