<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecepieDetails</title>
    <link rel="stylesheet" href="../styles/style.css">
    
</head>
<body>
    <header>
        <nav>
            <ul class="firstNav">
                <li><a href="">All recepies</a></li>
                <li><a href="">Create</a></li>
            </ul>
            <img src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_2.0/c_scale,w_400/ncom/en_US/games/switch/s/spongebob-krusty-cook-off-switch/description-image" alt="">
            <ul class="secondNav">
                <li><a href="">My Recepies</a></li>
                <li><a href="">Logout</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="mainInfo">
                <h1>Мусака</h1>
                <img src="https://m.1001recepti.com/images/photos/recipes/size_5/musaka-s-kaima-i-zalivka-3-[1369].jpg" alt="">
                <div class="info">
                    <h3>Вид: Лесна</h3>
                    <h3>Време за приготвяне: 103м</h3>
                    <h3>Порции: 12</h3>
                </div>
            </div>
            <div class="ingredients">
                <h2>Съставки</h2>
                <ul>
                    <li>кайма - 500 грама</li>
                    <li>картофи - 1 кг</li>
                    <li>лук - 2 броя</li>
                    <li>домати - 2 броя</li>
                    <li>кисело мляко - 400 грама</li>
                    <li>яйца - 2 броя</li>
                    <li>кашкавал - 100 грама</li>
                    <li>брашно - 5 супени лъжици</li>
                    <li>олио - 1 кафена чаша</li>
                    <li>червен пипер - 1 чаена лъжица</li>
                    <li>чубрица - 1 чаена лъжица</li>
                </ul>
            </div>
            <div class="preparation">
                <h2>Начин на приготвяне</h2>
                <p>
                    Загрявате мазнината в дълбок тиган или тенджера. В загрятата мазнина задушете измитият, изчистен и нарязан на дребно лук, докато омекне. Добавяте нарязаните на дребно половината домати и каймата, черният пипер и чубрицата, както и една чаена лъжица сол. Може да ползвате кайма, каквато имате под ръка, но най-вкусната мусаката става с кайма смес – 50% свинско и 50 % телешко месо.
                    След като водата от доматите изври добавяте червения пипер. Измивате, почиствате, обелвате и нарязвате на дребни кубчета картофите и ги прибавяте към месото. Намазнявате тавичка на дъното на която поставяте другата половина от доматите и върху тях изсипвате сместа за мусака. Добавяте една непълна чаена чаша гореща вода и поставяте в предварително загрята на 200 градуса фурна. Печете до докато водата изври, а картофите станат златисти.
                    Идва моментът за приготвяне на заливката за мусаката. Тя става лесно и много бързо. Разбърквате киселото мляко и яйцата, след което при постоянно бъркане добавяте и брашното, до получаване на гладка смес. Накрая добавяте и настъргания на дребно кашкавал. Заливате мусаката и печете докато порозовее.
                </p>
            </div>
        </div>
    </main>
</body>
</html>