<link rel="stylesheet" href="../styles/style.css">

<section id="register-page" class="content auth">
    <form id="register">
        <div class="container">
            <h1>Register</h1>
    
            <label for="email">Email:</label>
            <input type="email" id="register-email" name="email" placeholder="peshp@gmail.com" />
    
            <label for="password">Password:</label>
            <input type="password" name="password" id="register-password" />
    
            <label for="con-password">Confirm Password:</label>
            <input type="password" name="confirm-password" id="register-confirm-password" />
    
            <input class="btn submit" type="submit" value="Register">
        </div>
    </form>
</section>