.site-header {
    display: flex;
    flex-direction: row;
    padding: 2em;
    background: transparent;
}

.site-header img {
    width: 100px;
    height: auto;
    margin-right: auto;
}

.site-header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    color: #ffffff;
    list-style-type: none;
}